.App{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
input{
  width: 160px;
  height: 30px;
  border: 1px solid;
  border-radius: 2px;
  padding: 2px 5px;
}
